@inherits LayoutComponentBase

<GlobalHeaderBar @bind-LayoutContext="CurrentLayoutContext"
                 PageTitle="Tasks" />

<h3>EmptyLayout</h3>

@code {

    public LayoutContextId CurrentLayoutContext { get; set; } = LayoutContextId.Main;
}
