<!-- AdminNavMenuFooter.razor -->
<footer class="pg-sidebar-nav-footer pg-sidebar-nav-footer-admin">
    <div class="pg-sidebar-nav-footer-content">
        <div class="pg-sidebar-nav-footer-text">
            <div class="pg-adminnavmenu-footer-app">PlantGateway Admin</div>
            <div class="pg-adminnavmenu-footer-company">SMS group</div>
            <div class="pg-adminnavmenu-footer-user">Admin: demo</div>
        </div>

        <button type="button"
                class="pg-sidebar-nav-footer-button pg-sb-icon">
            <i data-lucide="panel-left"></i>
        </button>
    </div>
</footer>


@code {

}
