<!-- AdminNavMenuHeader.razor -->
<header class="pg-sidebar-nav-header pg-sidebar-nav-header-admin">
    <div class="pg-sidebar-nav-header-actions">
        <button type="button" class="pg-sb-icon">
            <i data-lucide="shield"></i>
        </button>
        <button type="button" class="pg-sb-icon">
            <i data-lucide="users"></i>
        </button>
        <button type="button" class="pg-sb-icon">
            <i data-lucide="settings-2"></i>
        </button>
    </div>
</header>


@code {

}
