@* DocsNavMenuFooter.razor *@
<footer class="pg-sidebar-nav-footer pg-sidebar-nav-footer-docs">
    <div class="pg-sidebar-nav-footer-content">
        <div class="pg-sidebar-nav-footer-text">
            <div class="pg-docsnavmenu-footer-app">PlantGateway Docs</div>
            <div class="pg-docsnavmenu-footer-company">SMS group</div>
            <div class="pg-docsnavmenu-footer-user">Viewer: demo</div>
        </div>

        <button type="button"
                class="pg-sidebar-nav-footer-button pg-sb-icon">
            <i data-lucide="panel-left"></i>
        </button>
    </div>
</footer>


@code {

}
