@* DocsNavMenuHeader.razor *@
<header class="pg-sidebar-nav-header pg-sidebar-nav-header-docs">
    <div class="pg-sidebar-nav-header-actions">
        <button type="button" class="pg-sb-icon">
            <i data-lucide="book-open"></i>
        </button>
        <button type="button" class="pg-sb-icon">
            <i data-lucide="file-text"></i>
        </button>
        <button type="button" class="pg-sb-icon">
            <i data-lucide="help-circle"></i>
        </button>
    </div>
</header>


@code {

}
