<header class="pg-sidebar-nav-header pg-sidebar-nav-header-main">
    <div class="pg-sidebar-nav-header-actions">
        <button 
            button" class="pg-sb-icon">
            <i data-lucide="home"></i>
        </button>
        <button type="button" class="pg-sb-icon">
            <i data-lucide="folder"></i>
        </button>
        <button type="button" class="pg-sb-icon">
            <i data-lucide="settings"></i>
        </button>
    </div>
</header>


@code {

}
