<footer class="pg-sidebar-nav-footer pg-sidebar-nav-footer-main">
    <div class="pg-sidebar-nav-footer-content">
        <div class="pg-sidebar-nav-footer-text">
            <div class="pg-mainnavmenu-footer-app">PlantGateway</div>
            <div class="pg-mainnavmenu-footer-company">SMS group</div>
            <div class="pg-mainnavmenu-footer-user">User: demo</div>
        </div>

        <button type="button"
                class="pg-sidebar-nav-footer-button pg-sb-icon">
            <i data-lucide="panel-left"></i>
        </button>
    </div>
</footer>


@code {

}
